body { 
  margin-top: 30px; 
  margin-bottom: 30px; 
  font-family: arial, courier new;
  font-size: 14px;
  color: #000000;
  background-color: #F7F7F7;
}

#container {
	width:1024px;
	margin:0 auto;
	}
	
#header {
	width:100%;
	background-color:#E7E7E7;
	}
	
#hbody  {
	width:100%;
	background-color:#E7E7E7;
	}

#hlinks {
	width:100%;
	background-color:#E7E7E7;
	}	

#topnav {
	width:100%;
	height:20px;
	text-align:right;
	background-color:#D7D7D7;
	}

#botnav {
	width:100%;
	height:20px;
	text-align:right;
	background-color:#D7D7D7;
	}

#footer {
	width:100%;
	text-align:right;
	background-color:#D7D7D7;
	text-align:center;
	clear: both;
	}
	
.footer_text {
	font-size:10px;

	}

.footer_text a{
	color:#000000;
	text-decoration:none;
	}
	
.footer_text a:hover {
	color:#1010FF;
	}
	
a { color: #0000FF; }
a:visited { color: #0000FF; }
a:hover { color: #000000 }
 
h1 { font-family: arial; font-size: 200% }
h2 { font-family: arial; font-size: 150% }
 
ul li { padding-top: 5px; }